[Unit]
Description=SVC Insights Service

[Service]
DynamicUser=yes
TimeoutSec=20
Restart=on-failure
ExecStart=/opt/svci/bin/svci

[Install]
WantedBy=default.target
